* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}



button {
    width: 80px;
}

.menu ul {
    display: flex;
    gap: 10px;
    padding: 10px;
    background-color: #1F2937;
}

.header-logo {
    display: flex;
    margin-right: auto;
}


.box {
    border: 1em solid lightcoral;
    height: 100px;
    flex: 0 0 100px;
    min-width: 100px;
    flex-basis: auto;
    margin: auto;
    flex-wrap: wrap;
}

.boxes-wrapper {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 20px;
    width: 100%;
    flex-basis: 100px;
    flex-wrap: wrap;
}

.text-mid-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 140px;
    width: 100%;
    padding: 0;
    margin: 0;
}

.card-mid {
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;  
    margin-bottom: 10vh;
}

.text {
    text-align: center;
}

.text-image-wrapper {
    display: flex;
    flex-flow: column wrap;
}

.top-wrapper {
    display: flex;
    flex-direction: column;
    width: 50%;
    
}

.placeholder-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
    text-align: center;
}

.both-wrapper {
    padding-top: 5vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 12vh;
    background-color: #1F2937;
}

.inspiring-text-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 20vh;
    background-color: aquamarine;
    flex-basis: auto;
    
}

.inspiring-text {
    width: 50%;
}

.call-to-action-wrapper {
    width: 100%;
    display: flex;
    min-height: 20vh;
    justify-content: center;
    align-items: center;
}

.call-to-action {
    display: flex;
    flex-flow: column wrap;
}

.cta-both {
    background-color: lightblue;
    display: flex;
    width: 50%;
    min-height: 10vh;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.footer {
    display: flex;
    justify-content: center;
    margin-top: auto;
    width: 100%;
    background-color: pink;
    padding: 0;
    margin: 0;
    min-height: 5vh;
    align-items: center;
    flex: 1 1 auto;
}

.hero-text {
    font-size: 30px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero-secondary {
    size: 18px;
    color: #E5E7EB;
}

ul {
    color: white;
}