* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    width: 80px;
}

.menu ul {
    display: flex;
    gap: 10px;
    padding: 10px;
    background-color: lightblue;
}

.header-logo {
    margin-right: auto;
}

.card-top {
    display: flex;
    flex-direction: column;
}

.box {
    border: 1em solid lightcoral;
    height: 100px;
    flex: 0 0 100px;
    min-width: 100px;
    flex-basis: auto;
    margin: auto;
    flex-wrap: wrap;
}

.boxes-wrapper {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 20px;
    width: 100%;
    flex-basis: 100px;
    flex-wrap: wrap;
}

.text-mid-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 140px;
    width: 100%;
    padding: 0;
    margin: 0;
}

.card-mid {
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;  
}

.text {
    text-align: center;
}

.text-image-wrapper {
    display: flex;
    flex-flow: column wrap;
}

.separate {
    margin-bottom: 10%;
}

.card-top-left {
    width: 50%;
}

.card-top-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
}

.card-both {
    display: flex;
}