* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}



button {
    width: 80px;
}

.menu ul {
    display: flex;
    gap: 10px;
    padding: 10px;
    background-color: #1F2937;
}

.header-logo {
    display: flex;
    margin-right: auto;
    font-weight: bold;
    font-size: larger;
}


.box {
    border: 3px solid #3882F6;
    border-radius: 15px;
    height: 100px;
    flex: 0 0 100px;
    min-width: 100px;
    flex-basis: auto;
    margin: auto;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.boxes-wrapper {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 20px;
    width: 100%;
    flex-basis: 100px;
    flex-wrap: wrap;
}

.text-mid-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 140px;
    width: 100%;
    padding: 0;
    margin: 0;
}

.card-mid {
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;  
    margin-bottom: 10vh;
    margin-top: 10vh;
}

.random-info {
    font-weight: bolder;
    font-size: larger;
    margin-bottom: 50px;
}

.text {
    text-align: center;
}

.text-image-wrapper {
    display: flex;
    flex-flow: column wrap;
}

.top-wrapper {
    display: flex;
    flex-direction: column;
    width: 50%;
    /* IF NOT WORKING THIS IS TO BLAME: */
    padding-left: 10px;
    flex: 0 0 350px; 
}

.both-wrapper {
    padding-top: 5vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 12vh;
    background-color: #1F2937;
    gap: 20px;
}

.placeholder-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 35%;
    min-height: 150px;
    flex: 0 0 auto;
    text-align: center;
    background-color: lightslategrey;
}

.inspiring-text-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 30vh;
    background-color: #E5E7EB;
    flex-basis: auto;
    
}

.inspiring-text {
    width: 50%;
    font-style: italic;
    color: #1F2937;
    
}

.call-to-action-wrapper {
    width: 100%;
    display: flex;
    min-height: 20vh;
    justify-content: center;
    align-items: center;
}

.call-to-action {
    display: flex;
    flex-flow: column wrap;
    color: #F9FAF8;
    font-weight: 500;
}

.cta-both {
    background-color: #3882F6;
    display: flex;
    width: 50%;
    min-height: 10vh;
    justify-content: center;
    align-items: center;
    gap: 50px;
    border-radius: 5px;
}

.footer {
    display: flex;
    justify-content: center;
    margin-top: auto;
    width: 100%;
    background-color: #1F2937;
    padding: 0;
    margin: 0;
    min-height: 5vh;
    align-items: center;
    flex: 1 1 auto;
    color: #E5E7EB;
}

.hero-text {
    font-size: 20px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero-secondary {
    size: 18px;
    color: #E5E7EB;
}

ul {
    color: white;
}

button {
    border: none;
    background-color: #3882F6;
    height: 30px;
    color: #E5E7EB;
    border-radius: 5px;
    transition: all 0.5s;
    cursor: pointer;
    font-weight: bolder;
}

button:active {
    background-color: darkblue;
}

.sign-up-bot {
    border: 2px solid #F9FAF8
}